.user-info{
    display: inline-block;
}

.user-greeting{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}
.user-icon{
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
    overflow: hidden;
}