header {
    width: 100%;
    height: 80px;
    background-color: white;
    box-sizing: border-box;
    text-align: center;
}

.cus-navbar {
    margin: auto;
    list-style-type: none;
}

.cus-navbar li {
    line-height: 70px;
    display: inline;
    margin: 25px;
    position: relative;
}

.cus-navbar li a {
    text-decoration: none;
    color: yellowgreen;
}

.cus-navbar li a:hover:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: yellowgreen;
    margin-top: 50px;
    left: 0px;
    transition: all 0.4s;
    position: absolute;
}

.menu-ham {
    width: 30px;
    height: 30px;
    position: relative;
}

.menu-ham span,
.menu-ham span:before,
.menu-ham span:after {
    position: absolute;
    width: 26px;
    height: 2px;
    left: 0px;
    background-color: yellowgreen;
}

.menu-ham span {
    transition: background 0.3s;
}

.menu-ham span:before {
    content: "";
    top: -7px;
    transform-origin: 0% 50%;
    transition: transform 0.3s;
}

.menu-ham span:after {
    content: "";
    top: 7px;
    transform-origin: 0% 50%;
    transition: transform 0.3s;
}

.menu-ham.visible span {
    background-color: white;
}

.menu-ham.visible span:before {
    transform: rotate(45deg) translateX(3px) translateY(-6px);
}

.menu-ham.visible span:after {
    transform: rotate(-45deg) translateX(3px) translateY(6px);
}