$global-font-family: "Quicksand", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$global-primary-background: #F1D124 !default;
$global-secondary-background : #1D1E30!default;
$global-muted-background : white!default;